.cardPhone__text{
    display: block;
}

.section-title{
    text-align: center;
    margin: 50px 0;
}

@include responsive("small-down"){
    .products{
        width: 90%;
    }
}
.shopping_cart{
    margin-left: 1600px;
    display: inline-block;
  }
